<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ValorLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ValorLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.3" />
    </startup>
    <userSettings>
        <ValorLauncher.Properties.Settings>
            <setting name="RealmlistFile" serializeAs="String">
                <value />
            </setting>
            <setting name="WowDir" serializeAs="String">
                <value />
            </setting>
        </ValorLauncher.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ValorLauncher.Properties.Settings>
            <setting name="ServerIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="WowVersion" serializeAs="String">
                <value>3, 3, 5, 12340</value>
            </setting>
        </ValorLauncher.Properties.Settings>
    </applicationSettings>
</configuration>